.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 1fr;

  @media screen and (max-width: 700px) {
    margin-left: 0;
  }
}
